# vscode
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env.bak/
venv.bak/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variables file
env/
ENV/
.env*
*.env


#other
tests/

#redis
backend/dump.rdb
